<div class="container-fluid">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of series">
          <td class="table-active">
            <dd>{{s.id}}</dd>
          </td>
          <td class="table-active">
            <dd>{{s.name}}</dd>
          </td>
          <td class="table-active">
            <dd>{{s.channel}}</dd>
          </td>
          <td class="table-active">
            <dd>{{s.seasons}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
    <p>Seasons Average: {{getAverageSeasons()}}</p>
  </div>
</div>
